<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="site-header">
 			 <nav class="nav-dragonlance">
   				 <ul>
   					 <li><a href="/">Home</a></li>
	   				 <li><a href="/diario/">Diario di Campagna</a></li>
	  				 <li><a href="/personaggi/">Dramatis Personae</a></li>
  					 <li><a href="/mappe/">Atlante di Krynn</a></li>
				 </ul>
 			 </nav>
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
