<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="site-header">
 			 <nav class="nav-dragonlance">
   				 <a href="/" class="nav-link">Home</a>
  				 <a href="/diario/" class="nav-link">Diario di Campagna</a>
   				 <a href="/personaggi/" class="nav-link">Dramatis Personae</a>
 				 <a href="/mappe/" class="nav-link">Atlante di Krynn</a>
 			 </nav>
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
